# 1. 忽略所有编译生成的产物
*.bin
*.elf
*.map
*.o
*.d

# 2. 忽略通用的标准外设库和内核文件（只保留你自己的代码）
**/CMSIS/
**/StdPeriph/
**/.cache/

# 3. 忽略某些编辑器自动生成的 tags 文件
**/tags

# 4. （可选）如果你连编译脚本也不想提交，可以解开下面三行的注释：
# **/Makefile
# **/stm32_flash.ld
# **/compile_flags.txt
