CompileFlags:
  Add:
    - -ICMSIS
    - -IStdPeriph/inc
    - -IUser
    - -IUser/app
    - -IUser/drivers
    - -IUser/hal
    - -IUser/platform/stm32f103
    - -DSTM32F10X_MD
    - -DUSE_STDPERIPH_DRIVER
